Repository bounswe/bounswe2023group6, pull requests merged in 2023-10, with the labels that each got.

#273 backend folder structure initialized
  app/backend/.gitignore
  app/backend/build.gradle.kts
  app/backend/gradle/wrapper/gradle-wrapper.jar
  app/backend/gradle/wrapper/gradle-wrapper.properties
  app/backend/gradlew
  app/backend/gradlew.bat
  app/backend/settings.gradle.kts
  app/backend/src/main/kotlin/com/gamelounge/backend/BackendApplication.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/configs/ExampleConfig.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controllers/ExampleController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/customExceptions/ExampleCustomExeption.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repositories/ExampleRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/services/ExampleService.kt
  app/backend/src/main/resources/application.properties
  app/backend/src/test/kotlin/com/gamelounge/backend/BackendApplicationTests.kt
Labels: priority: high, type: task, team: backend

#281 [Mobile] Base model, dto and service classes
  app/mobile/lib/data/models/base_model.dart
  app/mobile/lib/data/models/dto/base_dto_object.dart
  app/mobile/lib/data/models/dto/login/login_request.dart
  app/mobile/lib/data/models/dto/login/login_response.dart
  app/mobile/lib/data/models/login_model.dart
  app/mobile/lib/data/services/base_service.dart
  app/mobile/lib/utils/validation_util.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: type: enhancement, area: milestone, status: review-needed, team: mobile

#288 Backend/enhancement/login logout endpoints #267
  app/backend/build.gradle.kts
  app/backend/src/main/kotlin/com/gamelounge/backend/constant/HashingConstants.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/AccessController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Session.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/CustomExceptions.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/GlobalExceptionHandler.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/LoginRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/SessionRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/UserRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/AccessService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/util/HashingUtil.kt
Labels: priority: high, status: inprogress, team: backend

#290 example endpoints with all crud functionalities implemented
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/ExampleController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/HamburgerController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Hamburger.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/HamburgerRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/HamburgerService.kt
Labels: priority: medium, status: review-needed, team: backend

#298 Update lab_report_4.md
  reports/lab_report_4.md
Labels: type: documentation, priority: high, status: review-needed

#302 HOTFIX change RegisterationRequest model
  app/backend/src/main/kotlin/com/gamelounge/backend/model/RegisterationRequest.kt
Labels: type: enhancement, priority: high, area: milestone, status: review-needed, team: backend

#300 [Mobile] Tests for base server
  app/mobile/lib/assets/avatar.jpg
  app/mobile/lib/constants/network_constants.dart
  app/mobile/lib/data/models/dto/login/login_request.dart
  app/mobile/lib/data/models/dto/login/login_response.dart
  app/mobile/lib/data/models/login_model.dart
  app/mobile/lib/data/models/service_response.dart
  app/mobile/lib/data/services/base_service.dart
  app/mobile/lib/utils/service_validation_util.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
  app/mobile/test/service_test.dart
Labels: type: enhancement, area: milestone, team: mobile

#301 [Mobile] Initial Home Page, Drawer, BottomNavigatorBar, Theme, Mock Pages
  app/mobile/lib/assets/aysecaglayan.png
  app/mobile/lib/assets/logo.png
  app/mobile/lib/constants/base.txt
  app/mobile/lib/constants/color_constants.dart
  app/mobile/lib/constants/text_constants.dart
  app/mobile/lib/data/models/user_model.dart
  app/mobile/lib/data/services/user_authentication_service.dart
  app/mobile/lib/main.dart
  app/mobile/lib/presentation/pages/auth_page_demo.dart
  app/mobile/lib/presentation/pages/base_page.dart
  app/mobile/lib/presentation/pages/game_page.dart
  app/mobile/lib/presentation/pages/home_page.dart
  app/mobile/lib/presentation/pages/lfg_page.dart
  app/mobile/lib/presentation/pages/login_page.dart
  app/mobile/lib/presentation/pages/main_screen.dart
  app/mobile/lib/presentation/pages/registration_page.dart
  app/mobile/lib/presentation/pages/search_page.dart
  app/mobile/lib/presentation/widgets/app_bar_widget.dart
  app/mobile/lib/presentation/widgets/base_widget.dart
  app/mobile/lib/presentation/widgets/button_widget.dart
  app/mobile/lib/presentation/widgets/drawer_widget.dart
  app/mobile/lib/presentation/widgets/form_widget.dart
  app/mobile/lib/utils/base_util.dart
  app/mobile/lib/utils/string_utils.dart
  app/mobile/lib/utils/validation_utils.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: type: enhancement, priority: medium, area: milestone, status: review-needed, team: mobile

#304 Frontend forgot password page #283
  app/frontend/src/pages/Auth/ForgotPassword.css
  app/frontend/src/pages/Auth/ForgotPassword.js
  app/frontend/src/pages/Auth/images/background.jpg
  app/frontend/src/pages/Auth/images/logo.png
Labels: type: enhancement, priority: high, area: milestone, team: frontend

#307 Implement signup/register page
  app/frontend/.eslintrc.js
  app/frontend/src/App.js
  app/frontend/src/pages/Auth/ChangePassword.js
  app/frontend/src/pages/Auth/ForgotPassword.js
  app/frontend/src/pages/Auth/Login.js
  app/frontend/src/pages/Auth/Signup.js
  app/frontend/src/pages/Auth/index.js
Labels: type: enhancement, priority: high, status: review-needed, team: frontend

#310 Mobile/enhancement/login forgot page
  app/mobile/ios/Flutter/Debug.xcconfig
  app/mobile/ios/Flutter/Release.xcconfig
  app/mobile/ios/Podfile
  app/mobile/lib/main.dart
  app/mobile/lib/presentation/pages/forgot_password_page.dart
  app/mobile/lib/presentation/pages/login_page.dart
  app/mobile/lib/presentation/widgets/drawer_widget.dart
  app/mobile/lib/presentation/widgets/form_widget.dart
  app/mobile/macos/Flutter/Flutter-Debug.xcconfig
  app/mobile/macos/Flutter/Flutter-Release.xcconfig
  app/mobile/macos/Flutter/GeneratedPluginRegistrant.swift
  app/mobile/macos/Podfile
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: team: mobile

#306 Backend/enhancement/forgot-password #265
  app/backend/build.gradle.kts
  app/backend/src/main/kotlin/com/gamelounge/backend/config/CustomProperties.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/config/ExampleConfig.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/AccessController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/PasswordResetToken.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/CustomExceptions.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/GlobalExceptionHandler.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/ForgotPasswordRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/ResetPasswordRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/PasswordResetTokenRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/AccessService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/EmailService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/PasswordTokenResetService.kt
  app/backend/src/main/resources/application.properties
Labels: type: enhancement, priority: high, area: milestone, status: review-needed, team: backend

#329 Frontend/enhancement/config 319
  app/backend/dockerfile
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/AccessController.kt
  app/backend/src/main/resources/application.properties
  app/frontend/dockerfile
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/App.js
  app/frontend/src/components/Sidebar.js
  app/frontend/src/components/SubMenu.js
  app/frontend/src/components/Topbar.js
  app/frontend/src/pages/Auth/ChangePassword.js
  app/frontend/src/pages/Auth/ForgotPassword.js
  app/frontend/src/pages/Auth/Login.js
  app/frontend/src/pages/Auth/Signup.js
Labels: type: enhancement, priority: high, area: milestone, status: review-needed, team: frontend

#333 Implement logout + refactor change password
  app/frontend/src/App.js
  app/frontend/src/components/Sidebar.js
  app/frontend/src/components/SubMenu.js
  app/frontend/src/pages/Auth/Login.js
  app/frontend/src/pages/Auth/ResetPassword.js
  app/frontend/src/pages/Auth/index.js
Labels: type: enhancement, priority: high, area: milestone, status: review-needed, team: frontend

#340 #339 implement endpoint and service for user info
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/UserController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/UserService.kt
Labels: type: enhancement, priority: high, area: milestone, status: review-needed, team: backend

#341 Fix picture bug
  app/frontend/.env.example
  app/frontend/.gitignore
  app/frontend/src/components/Sidebar.js
  app/frontend/src/pages/Auth/ForgotPassword.js
  app/frontend/src/pages/Auth/Login.js
  app/frontend/src/pages/Auth/ResetPassword.js
  app/frontend/src/pages/Auth/Signup.js
Labels: type: bug, priority: high, area: milestone, status: review-needed, team: frontend
