Repository bounswe/bounswe2023group6, pull requests merged in 2023-11, with the labels that each got.

#370 Create lab_report_5.md
  reports/lab_report_5.md
Labels: type: documentation

#371 [Mobile] Profile page with some other changes
  app/mobile/lib/constants/network_constants.dart
  app/mobile/lib/data/models/dto/user/user_detailed_response.dart
  app/mobile/lib/data/models/game_model.dart
  app/mobile/lib/data/models/post_model.dart
  app/mobile/lib/data/models/user_model.dart
  app/mobile/lib/data/services/user_authentication_service.dart
  app/mobile/lib/main.dart
  app/mobile/lib/presentation/pages/game_page.dart
  app/mobile/lib/presentation/pages/home_page.dart
  app/mobile/lib/presentation/pages/profile_page.dart
  app/mobile/lib/presentation/widgets/avatar_widget.dart
  app/mobile/lib/presentation/widgets/drawer_widget.dart
  app/mobile/lib/presentation/widgets/game_card_widget.dart
  app/mobile/lib/presentation/widgets/post_card_widget.dart
Labels: type: enhancement, status: inprogress, area: milestone, team: mobile

#373 [Mobile] profile page initial complete implementation
  app/mobile/lib/presentation/pages/profile_page.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#379 [Mobile] Register page improved
  app/mobile/android/app/src/debug/AndroidManifest.xml
  app/mobile/android/app/src/main/AndroidManifest.xml
  app/mobile/lib/data/models/dto/register/register_request.dart
  app/mobile/lib/data/models/dto/register/register_response.dart
  app/mobile/lib/data/services/user_authentication_service.dart
  app/mobile/lib/presentation/pages/forgot_password_page.dart
  app/mobile/lib/presentation/pages/login_page.dart
  app/mobile/lib/presentation/pages/registration_page.dart
  app/mobile/lib/presentation/widgets/form_widget.dart
  app/mobile/lib/utils/validation_utils.dart
Labels: type: enhancement, area: milestone, team: mobile

#382 [Mobile] user image null fix
  app/mobile/lib/data/models/dto/user/user_response.dart
Labels: type: bug, priority: medium, team: mobile

#384 Frontend Profile page is initialized
  app/frontend/src/App.js
  app/frontend/src/components/Sidebar.js
  app/frontend/src/gamelounge.png
  app/frontend/src/pages/Auth/images/alikasap.jpg
  app/frontend/src/pages/Auth/images/fifa.jpg
  app/frontend/src/pages/Auth/images/fortnite.jpg
  app/frontend/src/pages/Auth/images/index.js
  app/frontend/src/pages/Auth/images/kerimbahadir.jpg
  app/frontend/src/pages/Auth/images/mahmutdemir.jpg
  app/frontend/src/pages/Auth/images/pubg.jpg
  app/frontend/src/pages/Auth/images/residentevil.jpg
  app/frontend/src/pages/Auth/images/rocketleague.jpg
  app/frontend/src/pages/Auth/images/witcher.jpg
  app/frontend/src/pages/Auth/images/zehrayildirim.jpg
  app/frontend/src/pages/GamePage/GamePage.js
  app/frontend/src/pages/HomePage/HomePage.js
  app/frontend/src/pages/Profile/LikedPosts.js
  app/frontend/src/pages/Profile/ProfilePage.js
  app/frontend/src/pages/Profile/index.js
Labels: priority: medium, area: milestone, status: review-needed, team: frontend

#378 [Frontend] modify the game page
  app/frontend/src/gamelounge.png
  app/frontend/src/pages/GamePage/GamePage.js
Labels: type: enhancement, priority: medium, status: review-needed, team: frontend

#383 cache manager created
  app/mobile/lib/data/models/user_model.dart
  app/mobile/lib/presentation/pages/login_page.dart
  app/mobile/lib/presentation/widgets/drawer_widget.dart
  app/mobile/lib/utils/shared_manager.dart
  app/mobile/lib/utils/user_cache_manager.dart
Labels: type: enhancement, priority: medium, team: mobile

#433 Create lab_report_7.md
  reports/lab_report_7.md
Labels: type: documentation

#440 [Mobile] post crud and reply section
  app/mobile/lib/data/models/comment_model.dart
  app/mobile/lib/data/models/content_model.dart
  app/mobile/lib/data/models/dto/content/multiple_posts_dto_response.dart
  app/mobile/lib/data/models/dto/content/post_create_dto_response.dart
  app/mobile/lib/data/models/dto/content/post_id_dto_request.dart
  app/mobile/lib/data/models/dto/content/post_report_dto_request.dart
  app/mobile/lib/data/models/dto/content/post_update_dto_request.dart
  app/mobile/lib/data/models/dto/content/single_post_dto_response.dart
  app/mobile/lib/data/models/dto/empty_response.dart
  app/mobile/lib/data/models/post_model.dart
  app/mobile/lib/data/services/post_service.dart
  app/mobile/lib/data/services/user_authentication_service.dart
  app/mobile/lib/main.dart
  app/mobile/lib/presentation/pages/forum_page.dart
  app/mobile/lib/presentation/pages/home_page.dart
  app/mobile/lib/presentation/pages/post/content_card_widget.dart
  app/mobile/lib/presentation/pages/post/post_create_page.dart
  app/mobile/lib/presentation/pages/post/post_page.dart
  app/mobile/lib/presentation/pages/post/report_widget.dart
  app/mobile/lib/presentation/pages/post/update_widget.dart
  app/mobile/lib/presentation/pages/post_page.dart
  app/mobile/lib/presentation/widgets/avatar_widget.dart
  app/mobile/lib/presentation/widgets/post_card_widget.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: type: enhancement, priority: medium, team: mobile

#444 saving sessionid in cache manager
  app/mobile/lib/data/models/dto/user/user_response.dart
  app/mobile/lib/data/services/base_service.dart
  app/mobile/lib/data/services/user_authentication_service.dart
  app/mobile/lib/presentation/pages/login_page.dart
  app/mobile/lib/presentation/pages/post/post_page.dart
  app/mobile/lib/presentation/widgets/drawer_widget.dart
  app/mobile/lib/utils/cache_manager.dart
  app/mobile/lib/utils/shared_manager.dart
  app/mobile/lib/utils/user_cache_manager.dart
Labels: type: enhancement, team: mobile

#445 Backend/enhancement/refactor post comment relateds#441
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/CommentController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/PostController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Comment.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Post.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/User.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/CommentDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/PostDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/CreateCommentRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/CreatePostRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/ReportRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/UpdateCommentRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/UpdatePostRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/ReportRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/CommentService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/PostService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/util/ConverterDTO.kt
  app/backend/src/main/resources/application.properties
Labels: team: backend

#450 [Mobile] Game page related posts part added
  app/mobile/lib/data/services/user_authentication_service.dart
  app/mobile/lib/presentation/pages/game_wiki_page.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: type: enhancement, team: mobile

#451 [Backend] forum tag feature and enhancement for some other parts
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/CommentController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/PostController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Comment.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Post.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Report.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/CommentDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/PostDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/CreateCommentRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/CreatePostRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/UpdateCommentRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/UpdatePostRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/response/ResponseMessage.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/CommentService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/PostService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/util/ConverterDTO.kt
Labels: priority: high, team: backend

#453 [Mobile] forum page service connections
  app/mobile/lib/constants/network_constants.dart
  app/mobile/lib/data/models/comment_model.dart
  app/mobile/lib/data/models/content_model.dart
  app/mobile/lib/data/models/dto/content/multiple_content_dto_response.dart
  app/mobile/lib/data/models/dto/content/multiple_posts_dto_response.dart
  app/mobile/lib/data/models/dto/content/post_create_dto_request.dart
  app/mobile/lib/data/models/dto/content/post_report_dto_request.dart
  app/mobile/lib/data/models/dto/content/post_update_dto_request.dart
  app/mobile/lib/data/models/dto/content/single_content_dto_response.dart
  app/mobile/lib/data/models/dto/content/single_post_dto_response.dart
  app/mobile/lib/data/models/post_model.dart
  app/mobile/lib/data/services/base_service.dart
  app/mobile/lib/data/services/post_service.dart
  app/mobile/lib/presentation/pages/forum_page.dart
  app/mobile/lib/presentation/pages/home_page.dart
  app/mobile/lib/presentation/pages/post/content_card_widget.dart
  app/mobile/lib/presentation/pages/post/post_create_page.dart
  app/mobile/lib/presentation/pages/post/post_page.dart
  app/mobile/lib/presentation/pages/post/report_widget.dart
  app/mobile/lib/presentation/pages/post/update_widget.dart
  app/mobile/lib/presentation/widgets/post_card_widget.dart
Labels: type: enhancement, priority: medium, status: inprogress, area: milestone, team: mobile

#432 adding CORS package and configured it
  app/backend/src/main/kotlin/com/gamelounge/backend/BackendApplication.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/AccessController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/UserController.kt
  app/backend/src/main/resources/application.properties
  reports/lab_report_6.md
Labels: type: enhancement, priority: medium, status: review-needed, team: backend

#452 Remove sidebar from home & forum, modify post view container
  app/frontend/src/components/Sidebar.js
  app/frontend/src/pages/Auth/Signup.js
  app/frontend/src/pages/ForumPage/ForumPage.js
  app/frontend/src/pages/GamePage/GamePage.js
  app/frontend/src/pages/HomePage/HomePage.js
  app/frontend/src/pages/Profile/ProfilePage.js
Labels: type: enhancement, priority: medium, area: milestone, status: review-needed, team: frontend

#455 [Mobile] initial game service
  app/mobile/lib/constants/network_constants.dart
  app/mobile/lib/data/models/dto/game/game_request.dart
  app/mobile/lib/data/models/dto/game/game_response.dart
  app/mobile/lib/data/models/dto/game/multiple_game_dto_response.dart
  app/mobile/lib/data/models/game_model.dart
  app/mobile/lib/data/services/game_service.dart
  app/mobile/lib/presentation/pages/game_wiki_page.dart
Labels: team: mobile

#457 Backend/enhancement/implement game page related endpoint #393
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/CharacterController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/GameController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Character.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Game.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/CustomExceptions.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/GlobalExceptionHandler.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/CharacterDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/GameDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/CreateCharacterRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/CreateGameRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/UpdateCharacterRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/UpdateGameRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/CharacterRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/GameRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/AccessService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/CharacterService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/GameService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/PostService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/S3service.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/util/ConverterDTO.kt
  app/backend/src/main/resources/application.properties
Labels: priority: high, area: milestone, status: review-needed, team: backend

#458 [Mobile] User related services + little bug fixes
  app/mobile/lib/data/models/comment_model.dart
  app/mobile/lib/data/models/content_model.dart
  app/mobile/lib/data/models/dto/content/comment_create_dto_request.dart
  app/mobile/lib/data/models/dto/user/multiple_user_as_dto.dart
  app/mobile/lib/data/models/dto/user/user_response.dart
  app/mobile/lib/data/models/user_model.dart
  app/mobile/lib/data/services/post_service.dart
  app/mobile/lib/data/services/user_authentication_service.dart
  app/mobile/lib/data/services/user_service.dart
  app/mobile/lib/presentation/pages/login_page.dart
  app/mobile/lib/presentation/pages/post/content_card_widget.dart
  app/mobile/lib/presentation/pages/post/post_page.dart
  app/mobile/lib/presentation/pages/profile_page.dart
  app/mobile/lib/presentation/widgets/avatar_widget.dart
  app/mobile/lib/presentation/widgets/drawer_widget.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#463 Frontend/enhancement/create game popup
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/components/navbar/Navbar.js
  app/frontend/src/pages/Auth/Login.js
  app/frontend/src/pages/GamePage/CreateGame.js
  app/frontend/src/pages/GamePage/GamePage.js
Labels: area: milestone

#464 [Frontend] Fix styling
  app/frontend/src/components/PostCard.js
  app/frontend/src/components/navbar/Navbar.js
  app/frontend/src/pages/ForumPage/ForumPage.js
  app/frontend/src/pages/GamePage/GamePage.js
  app/frontend/src/pages/HomePage/Game.js
  app/frontend/src/pages/HomePage/Group.js
  app/frontend/src/pages/HomePage/HomePage.js
  app/frontend/src/pages/HomePage/Post.js
  app/frontend/src/pages/HomePage/Suggestion.js
  app/frontend/src/pages/Profile/LikedPosts.js
  app/frontend/src/pages/Profile/ProfilePage.js
Labels: type: enhancement, priority: high, area: milestone, status: review-needed, team: frontend

#475 [Frontend] Improve profile page
  app/frontend/src/pages/Profile/LikedPosts.js
  app/frontend/src/pages/Profile/ProfileMenu.js
  app/frontend/src/pages/Profile/ProfilePage.js
Labels: type: enhancement, area: milestone, status: review-needed, team: frontend

#477 [Frontend] Game part added to homepage
  app/frontend/src/assets/img/Cyberpunk2077.jpeg
  app/frontend/src/assets/img/HaloInfinite.jpeg
  app/frontend/src/assets/img/RedDeadRedemption.jpeg
  app/frontend/src/pages/HomePage/Game.js
  app/frontend/src/pages/HomePage/HomePage.js
Labels: type: enhancement, priority: medium, area: milestone, status: review-needed, team: frontend

#481 fix
  app/frontend/src/components/navbar/Navbar.js
  app/frontend/src/pages/Auth/Login.js
Labels: area: milestone

#484 [Frontend] Report Button
  app/frontend/src/components/CommentCard.js
  app/frontend/src/components/PostCard.js
Labels: type: enhancement, priority: medium, area: milestone, status: review-needed, team: frontend

#485 [Mobile] post page missing details
  app/mobile/lib/data/models/content_model.dart
  app/mobile/lib/data/models/dto/content/post_create_dto_request.dart
  app/mobile/lib/data/models/post_model.dart
  app/mobile/lib/data/services/post_service.dart
  app/mobile/lib/presentation/pages/post/content_card_widget.dart
  app/mobile/lib/presentation/pages/post/post_create_page.dart
  app/mobile/lib/presentation/pages/post/post_page.dart
  app/mobile/lib/presentation/widgets/avatar_widget.dart
Labels: type: enhancement, priority: high, area: milestone, team: mobile

#486 Merge frontend.
  app/backend/src/main/kotlin/com/gamelounge/backend/BackendApplication.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/AccessController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/CommentController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/PostController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/TagController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/UserController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/UserService.kt
  app/frontend/package-lock.json
  app/frontend/src/App.js
  app/frontend/src/components/CommentCard.js
  app/frontend/src/components/PostCard.js
  app/frontend/src/components/navbar/GameCard.js
  app/frontend/src/components/navbar/Navbar.js
  app/frontend/src/downvote.png
  app/frontend/src/pages/Auth/ForgotPassword.js
  app/frontend/src/pages/Auth/Login.js
  app/frontend/src/pages/Auth/ResetPassword.js
  app/frontend/src/pages/Auth/Signup.js
  app/frontend/src/pages/ForumPage/CreatePost.js
  app/frontend/src/pages/ForumPage/ForumPage.js
  app/frontend/src/pages/GameForum/CreateGame.js
  app/frontend/src/pages/GameForum/GameForum.js
  app/frontend/src/pages/GameForum/index.js
  app/frontend/src/pages/GamePage/GamePage.js
  app/frontend/src/pages/HomePage/Game.js
  app/frontend/src/pages/HomePage/Group.js
  app/frontend/src/pages/HomePage/HomePage.js
  app/frontend/src/pages/HomePage/Post.js
  app/frontend/src/pages/HomePage/Suggestion.js
  app/frontend/src/pages/HomePage/alikasap.jpg
  app/frontend/src/pages/HomePage/hyrule.jpg
  app/frontend/src/pages/HomePage/kerimbahadir.jpg
  app/frontend/src/pages/HomePage/mahmutdemir.jpg
  app/frontend/src/pages/HomePage/rocket-league.jpg
  app/frontend/src/pages/HomePage/victory-royale.jpg
  app/frontend/src/pages/HomePage/zehrayildirim.jpg
  app/frontend/src/pages/PostPage/PostPage.js
  app/frontend/src/pages/PostPage/index.js
  app/frontend/src/pages/Profile/LikedPosts.js
  app/frontend/src/pages/Profile/ProfileMenu.js
  app/frontend/src/pages/Profile/ProfilePage.js
  app/frontend/src/services/commentService.js
  app/frontend/src/services/gameService.js
  app/frontend/src/services/gameServise.js
  app/frontend/src/services/postService.js
  app/frontend/src/services/userService.js
  app/frontend/src/upvote.png
  app/frontend/src/user.jpg
Labels: type: enhancement, priority: high, area: milestone, status: review-needed, team: frontend

#487 [Mobile] post and comment user avatar fixed
  app/mobile/lib/constants/network_constants.dart
  app/mobile/lib/data/models/content_model.dart
  app/mobile/lib/data/models/dto/login/login_response.dart
  app/mobile/lib/presentation/widgets/avatar_widget.dart
Labels: type: bug, priority: medium, team: mobile
