Repository bounswe/bounswe2023group6, pull requests merged in 2023-12, with the labels that each got.

#498 Create m2_group6.md
  reports/m2_group6.md
Labels: priority: high, area: milestone, status: review-needed

#528 Create lab_report_8.md
  reports/lab_report_8.md
Labels: type: documentation

#533 LFG Pages are done.
  app/mobile/lib/data/lfg_model.dart
  app/mobile/lib/presentation/pages/game_page.dart
  app/mobile/lib/presentation/pages/lfg_page.dart
  app/mobile/lib/presentation/pages/lfg_page_create.dart
  app/mobile/lib/presentation/pages/navigator.dart
  app/mobile/lib/presentation/states/lfg_list_grid_view_state.dart
  app/mobile/lib/presentation/widgets/game_grid_widget.dart
  app/mobile/lib/presentation/widgets/lfg_card_widget.dart
  app/mobile/lib/presentation/widgets/lfg_grid_widget.dart
Labels: type: enhancement, area: milestone, team: mobile

#536 backend/enchancement/games-rated-by-user-endpoint
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/GameController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Game.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/UserGameRating.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/UserGameRatingRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/GameService.kt
Labels: type: enhancement, priority: high, status: review-needed, team: backend

#539 Edit Post Functionality
  app/frontend/src/components/PostCard.js
  app/frontend/src/pages/ForumPage/EditPost.js
  app/frontend/src/pages/ForumPage/index.js
Labels: type: enhancement, priority: medium, team: frontend

#542 login check feature added
  app/frontend/src/components/navbar/Navbar.js
Labels: type: enhancement, priority: medium, area: milestone, team: frontend

#544 [Mobile] Sorting posts
  app/mobile/lib/presentation/pages/forum_page.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#535 Update page implemented.
  app/mobile/lib/presentation/pages/game_page_create.dart
  app/mobile/lib/presentation/pages/game_wiki_page.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#546 [Frontend] category filter in forum page
  app/frontend/src/components/PostCard.js
  app/frontend/src/pages/ForumPage/CreatePost.js
  app/frontend/src/pages/ForumPage/ForumPage.js
Labels: type: enhancement, status: review-needed, team: frontend

#538 completed creating game field enumerations
  app/backend/src/main/kotlin/com/gamelounge/backend/constant/Enumerations.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Game.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/GameDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/CreateGameRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/UpdateGameRequest.kt
Labels: type: enhancement, priority: high, status: review-needed, team: backend

#537 Completed Basic Admin Approval Mechanism
  app/backend/src/main/kotlin/com/gamelounge/backend/BackendApplication.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/AccessController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Game.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/User.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/CustomExceptions.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/GlobalExceptionHandler.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/GameDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/RegisterationRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/response/GetUserInfoResponse.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/GameRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/GameService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/util/ConverterDTO.kt
Labels: type: enhancement, priority: high, status: review-needed, team: backend

#564 lab report 9 is added
  reports/lab_report_9.md
Labels: type: documentation, priority: high, area: milestone, status: review-needed

#571 [Frontend] Forum post sorting and filtering
  app/frontend/src/components/CommentCard.js
  app/frontend/src/components/PostCard.js
  app/frontend/src/pages/ForumPage/CreatePost.js
  app/frontend/src/pages/ForumPage/ForumPage.js
  app/frontend/src/pages/ForumPage/SelectTags.js
  app/frontend/src/pages/GameForum/CreateGame.js
  app/frontend/src/pages/GameForum/GameForum.js
  app/frontend/src/pages/GamePage/CreateGame.js
  app/frontend/src/pages/GamePage/GamePage.js
  app/frontend/src/pages/HomePage/Game.js
  app/frontend/src/pages/HomePage/Group.js
  app/frontend/src/pages/HomePage/HomePage.js
  app/frontend/src/pages/HomePage/Post.js
  app/frontend/src/pages/HomePage/Suggestion.js
  app/frontend/src/pages/PostPage/PostPage.js
Labels: type: enhancement, area: milestone, status: review-needed, team: frontend

#569 Implemet game page missing parts
  app/mobile/lib/constants/network_constants.dart
  app/mobile/lib/data/models/dto/game/game_create_dto_request.dart
  app/mobile/lib/data/services/game_service.dart
  app/mobile/lib/presentation/pages/game_page_create.dart
  app/mobile/lib/presentation/pages/game_wiki_page.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#555 [Mobile] annotation feature initial implementation
  app/mobile/lib/data/models/annotation_model.dart
  app/mobile/lib/presentation/pages/post/content_card_widget.dart
  app/mobile/lib/presentation/widgets/annotatable_text_widget.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#568 [Mobile] profile page update & follow implementation
  .gitignore
  app/mobile/lib/constants/object_keys.dart
  app/mobile/lib/data/models/user_model.dart
  app/mobile/lib/data/services/base_service.dart
  app/mobile/lib/data/services/game_service.dart
  app/mobile/lib/data/services/user_authentication_service.dart
  app/mobile/lib/data/services/user_service.dart
  app/mobile/lib/main.dart
  app/mobile/lib/presentation/pages/login_page.dart
  app/mobile/lib/presentation/pages/main_screen.dart
  app/mobile/lib/presentation/pages/opening_page.dart
  app/mobile/lib/presentation/pages/post/post_page.dart
  app/mobile/lib/presentation/pages/profile_page.dart
  app/mobile/lib/presentation/widgets/avatar_widget.dart
  app/mobile/lib/presentation/widgets/drawer_widget.dart
  app/mobile/lib/utils/cache_manager.dart
  app/mobile/lib/utils/shared_manager.dart
  app/mobile/pubspec.lock
Labels: type: bug, type: enhancement, priority: high, area: milestone, team: mobile

#573 [Mobile] Image annotation implementation
  app/mobile/lib/presentation/pages/game_wiki_page.dart
  app/mobile/lib/presentation/widgets/annotatable_image_widget.dart
  app/mobile/lib/presentation/widgets/crop_image_widget.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#579 [Mobile] multiple widgets use same global key error
  app/mobile/lib/presentation/pages/main_screen.dart
  app/mobile/lib/presentation/pages/navigator.dart
Labels: type: bug, priority: medium, area: milestone, team: mobile

#578 [Frontend] Missing parts are added.
  app/frontend/src/pages/ForumPage/ForumPage.js
  app/frontend/src/pages/ForumPage/SelectTags.js
  app/frontend/src/pages/Profile/EditProfile.js
  app/frontend/src/services/postService.js
Labels: type: bug, priority: medium, area: milestone, status: review-needed, team: frontend

#582 [Frontend] Fix forum post operations
  app/frontend/src/components/CommentCard.js
  app/frontend/src/components/PostCard.js
  app/frontend/src/pages/ForumPage/EditPost.js
  app/frontend/src/pages/ForumPage/ForumPage.js
  app/frontend/src/pages/GameForum/GameForum.js
  app/frontend/src/pages/GamePage/GamePage.js
  app/frontend/src/pages/PostPage/PostPage.js
Labels: priority: high, area: milestone, status: review-needed, team: frontend

#581 [Mobile] Implement Initial LFG Page
  app/mobile/lib/data/services/lfg_service.dart
  app/mobile/lib/presentation/pages/group_page.dart
  app/mobile/lib/presentation/pages/navigator.dart
  app/mobile/lib/presentation/states/lfg_list_grid_view_state.dart
Labels: type: enhancement, area: milestone, team: mobile

#607 Push based trigger and continuous deployment added
  .github/workflows/backend_build.yml
  .github/workflows/frontend_build.yml
Labels: type: enhancement, area: milestone, ci/cd

#608 [Backend] user response addition and fixes
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/UserController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/User.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/response/GetUserInfoResponse.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/UserService.kt
  app/backend/src/test/kotlin/com/gamelounge/backend/GameServiceTest.kt
  app/backend/src/test/kotlin/com/gamelounge/backend/UserServiceTest.kt
Labels: type: enhancement, priority: medium, area: milestone, team: backend

#566 Backend/enhancement/update rated games endpoint #565
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/GameController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/UserGameRatingDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/GameService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/util/ConverterDTO.kt
Labels: type: enhancement, priority: high, area: milestone, status: review-needed, team: backend

#610 endpoints filtering posts by game or their categories implemented
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/PostController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/PostRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/PostService.kt
  app/backend/src/test/kotlin/com/gamelounge/backend/PostServiceTest.kt
Labels: team: backend

#580 [Mobile] json-ld format conversion added for annotation
  app/mobile/lib/data/models/annotation_model.dart
  app/mobile/lib/data/models/dto/annotation/annotation_dto.dart
  app/mobile/lib/data/models/dto/annotation/multiple_annotation.dart
  app/mobile/lib/data/services/annotation_service.dart
  app/mobile/lib/presentation/widgets/annotatable_image_widget.dart
  app/mobile/lib/presentation/widgets/annotatable_text_widget.dart
  app/mobile/lib/presentation/widgets/crop_image_widget.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#575 [Mobile] Initial admin panel implemented
  app/mobile/lib/constants/network_constants.dart
  app/mobile/lib/data/models/user_model.dart
  app/mobile/lib/data/services/admin_service.dart
  app/mobile/lib/main.dart
  app/mobile/lib/presentation/pages/admin_game_page.dart
  app/mobile/lib/presentation/pages/admin_panel.dart
  app/mobile/lib/presentation/widgets/drawer_widget.dart
Labels: area: milestone

#621 Backend/enhancement/lfg section endpoints#562
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/CommentController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/LFGController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/LFG.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/CustomExceptions.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/GlobalExceptionHandler.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/LFGDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/CreateLFGRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/UpdateLFGRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/LFGRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/CommentService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/LFGService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/util/ConverterDTO.kt
Labels: team: backend

#611 Backend/enhancement/implement recommendation service #567
  app/backend/build.gradle.kts
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/GameController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/LFGController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/PostController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Game.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/LFGRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/PostRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/GameService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/LFGService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/PostService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/RecommendationService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/UserService.kt
Labels: type: enhancement, priority: medium, area: milestone, status: review-needed, team: backend

#625 HOTFIX remove ambiguous endpoints from UserController
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/UserController.kt
Labels: priority: high, team: backend

#626 search functionality implemented
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/SearchController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/response/SearchResults.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/GameRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/LFGRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/PostRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/SearchService.kt
Labels: team: backend

#627 post-game relation activated
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/PostDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/CreatePostRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/UpdatePostRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/PostService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/util/ConverterDTO.kt
Labels: team: backend

#593 Backend/Enhancement/Complete-admin-and-guest-requirements
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/AccessController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/AdminController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Game.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Post.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/User.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/CustomExceptions.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/GlobalExceptionHandler.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/ReportRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/GameService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/PostService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/UserService.kt
Labels: type: enhancement, priority: high, area: milestone, status: review-needed, team: backend

#630 Backend/Enhancement/Changes-and-requests-given-by-teams
  app/backend/src/main/kotlin/com/gamelounge/backend/constant/Enumerations.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/constant/S3Constants.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/GameController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/Game.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/RequestedEditingGame.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/EditedGameDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/GameDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/UserDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/UserGameRatingDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/CreateEditingRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/CreateGameRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/UpdateGameRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/response/GetUserInfoResponse.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/GameService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/S3service.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/util/ConverterDTO.kt
Labels: type: enhancement, priority: high, area: milestone, status: review-needed, team: backend

#620 [Frontend] Implement remove post
  app/backend/src/main/kotlin/com/gamelounge/backend/util/ConverterDTO.kt
  app/frontend/src/components/CommentCard.js
  app/frontend/src/components/PostCard.js
  app/frontend/src/components/SubMenu.js
  app/frontend/src/pages/PostPage/PostPage.js
  app/frontend/src/services/commentService.js
  app/frontend/src/services/gameService.js
  app/frontend/src/services/gameServise.js
  app/frontend/src/services/postService.js
  app/frontend/src/services/userService.js
Labels: status: todo, type: enhancement, priority: medium, area: milestone, team: frontend

#631 HOTFIX remove conflicts
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/UserGameRatingDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/response/GetUserInfoResponse.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/UserService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/util/ConverterDTO.kt
Labels: status: todo, type: enhancement, priority: high, team: backend

#618 [Mobile] Lfg comment section
  app/mobile/lib/data/models/content_model.dart
  app/mobile/lib/data/models/lfg_model.dart
  app/mobile/lib/data/services/lfg_service.dart
  app/mobile/lib/presentation/pages/group_page.dart
  app/mobile/lib/presentation/pages/post/content_card_widget.dart
  app/mobile/lib/presentation/pages/post/post_page.dart
  app/mobile/lib/presentation/states/lfg_list_grid_view_state.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#617 [Frontend] Implement Admin Panel
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/RequestedEditingGame.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/GameService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/util/ConverterDTO.kt
  app/frontend/src/App.js
  app/frontend/src/components/PostCard.js
  app/frontend/src/components/navbar/Navbar.js
  app/frontend/src/pages/AdminPanel/AdminPanel.js
  app/frontend/src/pages/AdminPanel/index.js
  app/frontend/src/pages/Auth/Login.js
  app/frontend/src/pages/GameForum/GameForum.js
  app/frontend/src/pages/GamePage/CreateGame.js
  app/frontend/src/pages/Profile/ProfilePage.js
  app/frontend/src/services/gameService.js
Labels: type: enhancement, priority: medium, area: milestone, status: review-needed, team: frontend

#634 [Frontend] Create Lfg
  app/frontend/src/pages/LfgPage/CreateLfg.js
  app/frontend/src/pages/LfgPage/LfgCard.js
  app/frontend/src/pages/LfgPage/LfgPage.js
  app/frontend/src/services/lfgService.js
Labels: type: enhancement, priority: medium, area: milestone, team: frontend

#632 [Mobile] Tag option lfg
  app/mobile/lib/presentation/pages/lfg_page_create.dart
  app/mobile/lib/presentation/pages/post/post_create_page.dart
  app/mobile/lib/presentation/widgets/tag_input.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#635 Backend/enhanemcent/admin panel additional endpoints#633
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/AdminController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/CustomExceptions.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/GlobalExceptionHandler.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/repository/ReportRepository.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/ReportService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/util/ConverterDTO.kt
Labels: priority: high, status: review-needed, team: backend

#637 Create annotation_build.yml
  .github/workflows/annotation_build.yml
Labels: type: enhancement, priority: high, area: milestone, ci/cd

#639 Backend/enhancement/implement game similarity algorithm #612
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/GameDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/GameSimilarityService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/RecommendationService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/util/ConverterDTO.kt
Labels: type: enhancement, priority: high, status: review-needed, team: backend

#609 [Mobile] Profile page missing fields and backend connection
  app/mobile/lib/data/models/dto/user/user_response.dart
  app/mobile/lib/data/models/user_model.dart
  app/mobile/lib/data/services/user_service.dart
  app/mobile/lib/presentation/pages/profile_page.dart
  app/mobile/lib/presentation/widgets/avatar_widget.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#645 Backend/enhancement/lfg section augmentation#643
  app/backend/src/main/kotlin/com/gamelounge/backend/controller/LFGController.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/entity/LFG.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/CustomExceptions.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/exception/GlobalExceptionHandler.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/model/DTO/LFGDTO.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/LFGService.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/util/ConverterDTO.kt
Labels: priority: high, status: review-needed, team: backend

#646 [Frontend] Edit Lfg
  app/frontend/src/pages/LfgPage/EditLfg.js
  app/frontend/src/pages/LfgPage/LfgCard.js
Labels: type: enhancement, priority: high, area: milestone, team: frontend

#648 [Frontend] Other users' profile
  app/frontend/src/App.js
  app/frontend/src/components/PostCard.js
  app/frontend/src/pages/ForumPage/ForumPage.js
  app/frontend/src/pages/GameForum/CreateGame.js
  app/frontend/src/pages/GamePage/CreateGame.js
  app/frontend/src/pages/Profile/LikedPosts.js
  app/frontend/src/pages/Profile/ProfilePage.js
  app/frontend/src/services/userService.js
Labels: type: enhancement, priority: high, area: milestone, status: review-needed, team: frontend

#641 [Frontend] Add Lfg Page
  app/frontend/src/App.js
  app/frontend/src/pages/LfgPage/CreateLfg.js
  app/frontend/src/pages/LfgPage/Lfg.js
  app/frontend/src/pages/LfgPage/LfgCard.js
  app/frontend/src/services/commentService.js
Labels: type: enhancement, priority: high, area: milestone, team: frontend

#651 [Frontend] Join-leave lfg functionality
  app/frontend/src/pages/LfgPage/CreateLfg.js
  app/frontend/src/pages/LfgPage/LfgCard.js
Labels: type: enhancement, priority: high, area: milestone, team: frontend

#653 Improve Game Forum - Fix Create Game
  app/frontend/src/assets/img/game_place_holder.jpg
  app/frontend/src/components/PostCard.js
  app/frontend/src/components/navbar/Navbar.js
  app/frontend/src/pages/AdminPanel/AdminPanel.js
  app/frontend/src/pages/GameForum/CreateGame.js
  app/frontend/src/pages/GameForum/GameForum.js
  app/frontend/src/pages/GamePage/CreateGame.js
  app/frontend/src/pages/GamePage/GamePage.js
  app/frontend/src/pages/HomePage/HomePage.js
  app/frontend/src/services/lfgService.js
Labels: type: enhancement, priority: medium, area: milestone, status: review-needed, team: frontend

#657 [Frontend] Fix My Profile Button on Navbar
  app/frontend/src/components/navbar/Navbar.js
  app/frontend/src/pages/GameForum/GameForum.js
Labels: type: bug, priority: high, area: milestone, status: review-needed, team: frontend

#647 [Mobile] Multiple choice gamepage
  app/mobile/lib/presentation/pages/game_page_create.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#658 [Mobile]Implement update page for lfg.
  app/mobile/lib/data/services/lfg_service.dart
  app/mobile/lib/presentation/pages/game_wiki_page.dart
  app/mobile/lib/presentation/pages/group_page.dart
  app/mobile/lib/presentation/pages/lfg_page_create.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#656 [Mobile] Guest user implemented.
  app/mobile/lib/data/models/content_model.dart
  app/mobile/lib/main.dart
  app/mobile/lib/presentation/pages/forum_page.dart
  app/mobile/lib/presentation/pages/game_page.dart
  app/mobile/lib/presentation/pages/game_wiki_page.dart
  app/mobile/lib/presentation/pages/lfg_page.dart
  app/mobile/lib/presentation/pages/navigator.dart
  app/mobile/lib/presentation/pages/opening_page.dart
  app/mobile/lib/presentation/pages/post/post_page.dart
  app/mobile/lib/presentation/states/lfg_list_grid_view_state.dart
  app/mobile/lib/presentation/widgets/post_card_widget.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#661 [Mobile] annotation backend complete connections
  app/mobile/lib/constants/network_constants.dart
  app/mobile/lib/data/models/annotation_model.dart
  app/mobile/lib/data/models/dto/annotation/annotation_dto.dart
  app/mobile/lib/data/models/dto/annotation/get_annotation_request.dart
  app/mobile/lib/data/models/dto/annotation/multiple_annotation.dart
  app/mobile/lib/data/services/annotation_service.dart
  app/mobile/lib/data/services/base_service.dart
  app/mobile/lib/presentation/pages/game_wiki_page.dart
  app/mobile/lib/presentation/pages/post/content_card_widget.dart
  app/mobile/lib/presentation/widgets/annotatable_image_widget.dart
  app/mobile/lib/presentation/widgets/annotatable_text_widget.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#663 Completed-GameServiceTest-UnitTest
  app/backend/src/test/kotlin/com/gamelounge/backend/CommentServiceTest.kt
  app/backend/src/test/kotlin/com/gamelounge/backend/GameServiceTest.kt
  app/backend/src/test/kotlin/com/gamelounge/backend/PostServiceTest.kt
  app/backend/src/test/kotlin/com/gamelounge/backend/UserServiceTest.kt
Labels: team: backend

#662 [Frontend] Frontend/enhancement/recommandation
  app/frontend/src/pages/HomePage/HomePage.js
  app/frontend/src/services/gameService.js
  app/frontend/src/services/postService.js
Labels: team: frontend

#660 search implemented
  app/backend/src/main/resources/application.properties
  app/frontend/src/App.js
  app/frontend/src/components/navbar/Navbar.js
  app/frontend/src/pages/HomePage/Group.js
  app/frontend/src/pages/Search/Search.js
  app/frontend/src/pages/Search/index.js
  app/frontend/src/services/searchService.js
Labels: team: frontend

#644 [Mobile] Searchbar implementation and connections
  app/mobile/lib/data/models/dto/search/search_all_response.dart
  app/mobile/lib/data/services/search_service.dart
  app/mobile/lib/presentation/pages/home_page.dart
  app/mobile/lib/presentation/pages/navigator.dart
  app/mobile/lib/presentation/widgets/searchbar_widget.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#664 [Mobile] Implemented Report Games and Character Feature to Game Page
  app/mobile/lib/data/models/character_model.dart
  app/mobile/lib/data/models/dto/game/character_create_request.dart
  app/mobile/lib/data/models/game_model.dart
  app/mobile/lib/data/services/game_service.dart
  app/mobile/lib/presentation/pages/game_wiki_page.dart
  app/mobile/lib/presentation/pages/post/report_widget.dart
Labels: area: milestone

#666 [Mobile] Create LFG Service
  app/mobile/lib/data/models/dto/lfg/lfg_create_dto_request.dart
  app/mobile/lib/data/models/dto/lfg/lfg_response.dart
  app/mobile/lib/data/models/dto/lfg/mutliple_lfg_dto_request.dart
  app/mobile/lib/data/models/lfg_model.dart
  app/mobile/lib/data/services/game_service.dart
  app/mobile/lib/data/services/lfg_service.dart
  app/mobile/lib/presentation/pages/lfg_page_create.dart
  app/mobile/lib/presentation/states/game_list_grid_view_state.dart
  app/mobile/lib/presentation/states/lfg_list_grid_view_state.dart
  app/mobile/lib/presentation/widgets/lfg_card_widget.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#665 [Mobile] Forum page filter posts
  app/mobile/lib/data/models/dto/content/post_create_dto_request.dart
  app/mobile/lib/data/models/post_model.dart
  app/mobile/lib/data/services/post_service.dart
  app/mobile/lib/presentation/pages/forum_page.dart
  app/mobile/lib/presentation/pages/navigator.dart
  app/mobile/lib/presentation/pages/post/content_card_widget.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#669 [Frontend] Lfg Comment Fix
  app/frontend/src/pages/HomePage/Group.js
  app/frontend/src/pages/LfgPage/EditLfg.js
  app/frontend/src/pages/LfgPage/Lfg.js
  app/frontend/src/pages/LfgPage/LfgCard.js
  app/frontend/src/pages/LfgPage/LfgPage.js
Labels: type: enhancement, priority: high, area: milestone, team: frontend

#670 [Mobile] Recommendation implementation
  app/mobile/lib/data/models/game_model.dart
  app/mobile/lib/data/services/game_service.dart
  app/mobile/lib/data/services/post_service.dart
  app/mobile/lib/presentation/pages/game_wiki_page.dart
  app/mobile/lib/presentation/pages/home_page.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#672 [Mobile] Guest control fixes
  app/mobile/lib/presentation/pages/forum_page.dart
  app/mobile/lib/presentation/pages/game_page.dart
  app/mobile/lib/presentation/pages/game_wiki_page.dart
  app/mobile/lib/presentation/pages/home_page.dart
  app/mobile/lib/presentation/pages/lfg_page.dart
  app/mobile/lib/presentation/states/lfg_list_grid_view_state.dart
  app/mobile/lib/presentation/widgets/guest_control_widget.dart
  app/mobile/lib/presentation/widgets/post_card_widget.dart
  app/mobile/lib/utils/cache_manager.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#674 [Mobile] lfg page contents update
  app/mobile/lib/data/models/lfg_model.dart
  app/mobile/lib/data/services/lfg_service.dart
  app/mobile/lib/presentation/pages/group_page.dart
Labels: area: milestone

#675 [Frontend] Fix Follow/Unfollow
  app/frontend/src/components/CommentCard.js
  app/frontend/src/components/PostCard.js
  app/frontend/src/pages/ForumPage/SelectTags.js
  app/frontend/src/pages/HomePage/Group.js
  app/frontend/src/pages/HomePage/Post.js
  app/frontend/src/pages/HomePage/profile.jpg
  app/frontend/src/pages/PostPage/PostPage.js
  app/frontend/src/pages/Profile/ProfileMenu.js
  app/frontend/src/pages/Profile/ProfilePage.js
  app/frontend/src/pages/Profile/profile.jpg
  app/frontend/src/services/userService.js
Labels: type: bug, priority: high, area: milestone, status: review-needed, team: frontend

#668 [Frontend]Frontend edit game implemented
  app/backend/src/main/kotlin/com/gamelounge/backend/model/request/CreateEditingRequest.kt
  app/backend/src/main/kotlin/com/gamelounge/backend/service/GameService.kt
  app/frontend/src/pages/GameForum/EditGame.js
  app/frontend/src/pages/GamePage/GamePage.js
Labels: team: frontend

#677 [Mobile] Admin Panel Report Page Implemented
  app/mobile/lib/presentation/pages/admin/admin_game_page.dart
  app/mobile/lib/presentation/pages/admin/admin_post_page.dart
  app/mobile/lib/presentation/pages/admin_panel.dart
  app/mobile/lib/presentation/pages/login_page.dart
  app/mobile/lib/presentation/widgets/drawer_widget.dart
  app/mobile/lib/presentation/widgets/post_card_widget.dart
Labels: area: milestone

#679 [Mobile] game page genres and platforms multiple show
  app/mobile/lib/presentation/pages/game_wiki_page.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#681 [Mobile] lfg join leave implemented
  app/mobile/lib/data/services/lfg_service.dart
  app/mobile/lib/presentation/pages/group_page.dart
Labels: area: milestone

#680 [Mobile] Lfg search-recommendation-comment
  app/mobile/lib/data/models/content_model.dart
  app/mobile/lib/data/models/dto/search/search_all_response.dart
  app/mobile/lib/data/models/game_model.dart
  app/mobile/lib/data/models/lfg_model.dart
  app/mobile/lib/data/services/comment_service.dart
  app/mobile/lib/data/services/lfg_service.dart
  app/mobile/lib/data/services/post_service.dart
  app/mobile/lib/data/services/search_service.dart
  app/mobile/lib/presentation/pages/game_wiki_page.dart
  app/mobile/lib/presentation/pages/group_page.dart
  app/mobile/lib/presentation/pages/home_page.dart
  app/mobile/lib/presentation/pages/post/content_card_widget.dart
  app/mobile/lib/presentation/pages/post/post_page.dart
  app/mobile/lib/presentation/pages/post/report_widget.dart
  app/mobile/lib/presentation/pages/post/update_widget.dart
  app/mobile/lib/presentation/widgets/searchbar_widget.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#678 Update service implemented.
  app/mobile/lib/data/services/lfg_service.dart
  app/mobile/lib/presentation/pages/group_page.dart
  app/mobile/lib/presentation/pages/lfg_page_create.dart
Labels: type: enhancement, priority: medium, area: milestone, team: mobile

#682 guest restrictions added
  app/frontend/src/components/CommentCard.js
  app/frontend/src/pages/ForumPage/CreatePost.js
  app/frontend/src/pages/ForumPage/ForumPage.js
  app/frontend/src/pages/GameForum/CreateGame.js
  app/frontend/src/pages/GamePage/GamePage.js
  app/frontend/src/pages/HomePage/Game.js
  app/frontend/src/pages/HomePage/Post.js
  app/frontend/src/pages/HomePage/Suggestion.js
  app/frontend/src/pages/LfgPage/CreateLfg.js
  app/frontend/src/pages/LfgPage/LfgCard.js
  app/frontend/src/pages/LfgPage/LfgPage.js
  app/frontend/src/pages/PostPage/PostPage.js
Labels: team: frontend
